*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('./assets/background.png'), linear-gradient(blue, #ea01ff);
  background-position: center;
  display: flex;
  height: 100vh;
  flex-flow: column;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
a{
  color: rgb(0, 81, 255);
}
a:hover{
  color: rgb(0, 217, 255);
}
.header{
  background-color: rgba(0, 0, 0, 0.75);
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header__logo{
  height: 100px;
  width: 100%;
  object-fit:fill;
}
.header__menu{
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  display: inherit;
  flex-direction: row;
}
.header__menu li{
  list-style: none;
  padding-left: 10px;
}
.header__menu a{
  text-decoration: none;
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
  height: inherit;
}
.aside{
  background-color: rgba(0, 0, 0, 0.4);
  height: fit-content;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center  ;
  align-content: center;
}
.container-aside{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.container-aside > div{
  width: 50%;
}
.aside-card{
  margin: 0 auto;
  max-width: 100px;
  height: 100px ;
  border-radius: 25px;
  overflow: hidden;
  perspective: 100px;
}
.aside-card img{
  height: 100%;
}
.aside-card:hover img{
  transform: rotateX(45deg);
}
.article{
  background-color: rgba(0, 0, 0, 0.4);
  display: inherit;
  flex-direction: column  ;
  text-align: center;
  justify-content: center;
  height: 75%;
}
.article p{
padding-top: 8px;
}
.footer{
  display: inherit;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.75);
  justify-content: space-evenly;
  align-items: center;
}
.footer h3{
  text-align: center;
  width: 100%;
}
footer a:hover{
  background-color: rgba(0, 0, 0, .8);
  border-radius: 25px;
  padding: 0 3px;
}
